
/* ESTILOS PARA EL HEADER */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.4rem 6.4rem;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: flex;
    gap: 4.8rem;
}

nav ul a{
    font-family: var(--fuente-encabezado);
    color: var(--color-Dark-Charcoal);
}
.icoms-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-user{
    font-size: 3.8rem;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
