<div class="main-container">
    <pre>{{ userLogged | json }}</pre>
    <h1>{{ userLogged?.role }}</h1>
    <h2>{{ !!userLogged }}</h2>

    <header>
        <img src="assets/imges/Logo.png " alt="Logo Fonefo Kids">
        <nav>
            <ul class="main-menu">
                <li><a routerLink="home">Inicio</a></li>
                <li> <a routerLink="catalogo">Catálogo</a></li>
                <li> <a routerLink="nosotros">Nosotros</a></li>
                <li> <a routerLink="tips">Tips</a></li>
                @if( !!userLogged && userLogged.role == 'admin' ) {
                    <li> <a class="link-admin" routerLink="admin/products">Productos</a></li>
                    <li> <a class="link-admin" routerLink="admin/categories">Categorias</a></li>
                    <li> <a class="link-admin" routerLink="admin/tips">Tips</a></li>
                }
                
                <li> <a routerLink="contacto">Contacto</a></li>
                <li> <a class="btn btn-outline-primary btn-login" (click)="logout()">Logout</a></li>
            </ul>
        </nav>
        <div class="icoms-navbar">
            <i class="fa-regular fa-user" routerLink="login" style="color: #333333;"></i>
            <img src="assets/imges/Shopping-bag-icon.svg" alt="Icono de comprar">
        </div>
        
    </header>