<footer class="footer">
    <div class="container">
        <section class="pre-footer">
            <div class="widget widget-1">
                <img class="img-fonefo-kids-footer" src="assets/imges/Logo.png" alt="Logo Fonefo Kids">
                <div class="title title-enlaces">ENLACES</div>
                <nav class="navbar navbar-enlaces">
                    <ul class="menu-enlaces">
                        <li class="menu-enlaces__item item-1"><a href="#">Inicio</a></li>
                        <li class="menu-enlaces__item item-2"><a href="#">Catalogo</a></li>
                        <li class="menu-enlaces__item item-3"><a href="#">Nosotros</a></li>
                        <li class="menu-enlaces__item item-3"><a href="#">Tips</a></li>
                        <li class="menu-enlaces__item item-4"><a href="#">Contacto</a></li>
                    </ul>
                </nav>
            </div>
            <div class="widget widget-2">
                <div class="redes-redes">
                    <div class="content-social">
                        <div class="title title-social">REDES SOCIALES</div>
                        <div class="icons icons-social-networks">
                            <i class="fa-brands fa-facebook" style="color: #fff8f1;"></i>
                            <i class="fa-brands fa-instagram" style="color: #fff8f1;"></i>
                            <i class="fa-brands fa-whatsapp" style="color: #fff8f1;"></i>
                            <i class="fa-brands fa-tiktok" style="color: #fff8f1;"></i>
                        </div>
                    </div>
                    <div class="content-contact">
                        <div class="title title-contact">CONTACTO</div>
                        <div class="icons-contact">
                            <div class="inons-contact">
                                <i class="fa-solid fa-envelope" style="color: #fff8f1;"></i>
                                <span>fonefokids&#64;gmail.com</span>
                            </div>
                            <div class="inons-contact">
                                <i class="fa-solid fa-phone" style="color: #fff8f1;"></i>
                                <p>3112844497</p>
                            </div>
                            <div class="inons-contact">
                                <i class="fa-solid fa-location-dot" style="color: #fff8f1;"></i>
                                <p>Mosquera, Cundinamarca</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget widget-3">
                <div class="title">MEDIOS DE PAGO
                    <div class="payment-methods">
                        <img class="img-payment__img img img-1" src="assets/imges/Mastercard-logo.jpg" alt="Logo Master Card">
                        <img class="img-payment__img img img-2" src="assets/imges/VISA-Logo.jpg" alt="Logo Visa">
                        <img class="img-payment__img img img-3" src="assets/imges/Nequi-Logo.png" alt="Logo Nequi">
                        <img class="img-payment__img img img-4" src="assets/imges/Daviplata.PNG" alt="Logo Daviplata">
                    </div>
                </div>
                <div class="title">MEDIOS DE ENVIO
                    <div class="Shipping-methods">
                        <img class="img-shipping__img img img-5" src="assets/imges/Inter-Rapidisimo.png"
                            alt="Logo Inter Rapidisimo">
                        <img class="img-shipping__img img img-6" src="assets/imges/Deprisa.jpeg" alt="Logo Deprisa">
                        <img class="img-shipping__img img img-7" src="assets/imges/Servientrega.png" alt="Logo Servientrega">
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>