.container-form {
    width: 30%;
    background-color: #545188;
    padding: 2rem;
    border-radius: 2rem;
}
h1 {
    color: white;
}
#titulo {
    font-size: 1rem;
    padding: 0.70rem;
    border-radius: 1rem;
    border: none;
}
#tipo {
    width: 19rem;
}