
<form [formGroup]="formData" (ngSubmit)="onSubmit()" class="form form-login">
    <div class="container-form">
        <h1>Crea tu producto</h1>
        <!-- Nombre -->
        <div class="field">
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" formControlName="name" required><br><br>
        </div>

        <!-- Descripción -->
        <div class="field">
            <label for="descripcion">Descripción:</label><br>
            <textarea id="descripcion" formControlName="description" rows="5" cols="40" required></textarea><br><br>
        </div>

        <div class="field">
            <label for="price">Precio:</label>
            <input type="number" id="price" formControlName="price" min="0" step="0.01" placeholder="0.00">
        </div>

        <div class="field">
            <label for="stock">Stock disponible:</label>
            <input type="number" id="stock" formControlName="stock" min="1" placeholder="1">
        </div>

        <div class="field">
            <label for="urlImage">URL de la imagen:</label>
            <input type="url" id="urlImage" formControlName="urlImage" placeholder="https://...">
        </div>

        <div class="field">
            <label for="">Estado</label>
            <div class="opciones-de-estado">
                <input [value]="true" type="radio" formControlName="state" id="estado-activo-del-tip">
                <label for="estado-activo-del-tip">Activo</label>
                <input [value]="false" type="radio" formControlName="state" id="estado-inactivo-del-tip">
                <label for="estado-inactivo-del-tip">Inactivo</label>
            </div>
        </div>
        <!-- Rango de Edad -->
        <div class="field">
            <label for="rangoEdad">Rango de Edad:</label>
            <select id="rangoEdad" formControlName="ageRanges">
                <option value="">Seleccione un rango</option>
                @for (item of ageRanges; track $index) {
                    <option [value]="item._id">{{ item.label }}</option>
                }
            </select>
        </div>

        <!-- Categoría -->
        <div class="field">
            <label for="categoria">Categoría:</label>
                <select id="categoria" formControlName="category">
                    <option value="">Seleccione una categoría</option>
                    @for (product of products; track $index) {
                        <option [value]="product._id">{{ product.name }}</option>
                    }
                </select>
        </div>
        
        <!-- Botón -->
        <div class="field">
            <button type="submit">Cargar producto</button>
        </div>
    </div>


</form>