/* ESTILOS PARA LA SECCION DEL BANNER PRINCIPAL*/

#inicio {
    display: flex;
    background-color: var(--color-Pastel-Orange);
    background-image: url(../../../../../public/assets/imges/VECTOR_1.svg), url(../../../../../public/assets/imges/VECTOR_2.svg), url(../../../../../public/assets/imges/VECTOR_3.svg);
    background-position: left, bottom right, top right;
    background-repeat: no-repeat;
    justify-content: space-between;
}

#inicio div {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 24rem;
    padding: 4rem 0;
}

#inicio div h1 {
    font-family: var(--fuente-encabezado);
    color: var(--color-Floral-White);
    font-size: 6.4rem;
    font-weight: bold;
}

#inicio div p {
    margin: .8rem 0 1.6rem 0;
}

#inicio div a {
    font-family: var(--fuente-encabezado);
    color: var(--color-Purple-Navy);
    background-color: var(--color-Floral-White);
    border: .2rem solid var(--color-Purple-Navy);
    border-radius: 25rem;
    padding: 1rem 2.4rem;
    font-weight: 700;
    width: 26rem;
}

.img-baner {
    position: relative;
    left: -10rem;
}

/**section-Animals-form*/
.section-form-kids {
    height: 50rem;
}

.content-section-form {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.img-form-kids {
    width: 100%;
}

.img-animals-form {
    height: 50rem;
    width: 39rem;
    position: relative;
    left: -3rem;
    top: -2rem;
}

.content-form {
    width: 60%;
    background-color: var(--color-Purple-Navy);
    padding: 3rem;
    border-radius: 2rem;
    position: relative;
    top: -3rem;
    left: -14rem;
}

.content-form h2 {
    color: var(--color-Floral-White);
    font-family: var(--fuente-encabezado);
    font-size: 2.4rem;
    text-align: center;
}

.mb-3 {
    display: flex;
    flex-direction: column;
}

.sub-title-1 {
    margin-top: 1rem;
}

.sub-title {
    color: var(--color-Floral-White);
    font-family: var(--fuente-cuerpo);
    font-size: 1.6rem;
    margin-top: 2rem;
}

.into-tex {
    font-size: 1rem;
    font-family: var(--fuente-cuerpo);
    padding: 0.70rem;
    border-radius: 1rem;
    border: none;
}

.into-mensaje {
    font-size: 1rem;
    font-family: var(--fuente-cuerpo);
    padding: 2.7rem 0.8rem;
    border-radius: 1rem;
    border: none;
    text-align: start;
}

.btn-enviar {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.btn-primary {
    width: 17rem;
    border-radius: 0.80rem;
    border: none;
    font-size: 1.6rem;
    color: var(--color-Purple-Navy);
    font-weight: bold;
    padding: 0.40rem 0;
}

/* SECCIÓN PRODUCTOS */
.header {
    background-color: aqua;
    height: 497px;
}

.filtro_edades {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 2rem 0;
}

.filtro_edades__list {
    display: flex;
    list-style: none;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.botones_filtro {
    width: 14rem;
    height: 4rem;
    border-radius: 10rem;
    color: aliceblue;
    font-family: var(--fuente-cuerpo);
    border-color: #FFB750;
    background-color: #FFB750;
    font-size: 2rem;
}

.container_boton_catalogo {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.boton_catalogo {
    width: 18rem;
    height: 5rem;
    border-radius: 10rem;
    background-color: none;
    border-color: #545188;
    color: #545188;
    margin: 0 0 2rem;
}

/* Sección de Catalogo*/
h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 30px 0;
}

/* Contenedor principal */
.productos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 0 auto;
    max-width: 1100px;
}

/* Botones flechas */
.arrow {
    background: none;
    border: 2px solid #6b4ba1;
    color: #6b4ba1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.arrow:hover {
    background-color: #6b4ba1;
    color: #fff;
}

/* Tarjeta producto */
.producto {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    width: 190px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.producto:hover {
    transform: translateY(-5px);
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.producto h3 {
    font-size: 1rem;
    margin: 10px 0 5px;
    font-weight: 700;
}

.producto p {
    font-size: 0.85rem;
    color: #666;
    margin: 0 0 10px;
}

.producto .precio {
    font-size: 1rem;
    font-weight: 700;
    color: #2f2f4f;
    margin-bottom: 10px;
}

.producto button {
    background-color: #fbbf24;
    /* amarillo */
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 0.85rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.producto button:hover {
    background-color: #f59e0b;
}

/* Botón catálogo */
.ver-catalogo {
    display: flex;
    justify-content: center;
    margin: 25px 0 50px;
}

.ver-catalogo button {
    background-color: #fff;
    border: 2px solid #6b4ba1;
    color: #2f2f4f;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}

.ver-catalogo button:hover {
    background-color: #6b4ba1;
    color: #fff;
}

/* Sección Nosotros */
.sobre_nosotros {
    height: 500px;
    background-color: var(--color-Dark-Cornflower-Blue);
    background-image: url(../../../../../public/assets/imges/VECTOR_4.png), url(../../../../../public/assets/imges/VECTOR_5.png);
    background-position: bottom left, top right;
    ;
    background-repeat: no-repeat;
    padding-top: 2rem;
}

.quienes_somos {
    margin: 0 0 4rem 0;
    font-size: 28px;
    color: var(--color-Floral-White);
    font-family: "Sour Gummy", sans-serif;
    text-align: center;
}

.descripcion_sobre_nosotros {
    display: flex;
}

.imagen_sobre_nosotros {
    width: 50rem;
    border-radius: 1rem;
}

.descripcion_sobre_nosotros_texto {
    width: 100%;
    color: var(--color-Floral-White);
    font-size: var(--fuente-cuerpo);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10rem;
}

.container_imagen_sobre_nosotros {
    width: 100%;
    display: flex;
    justify-content: center;
}

.descripcion_item {
    font-size: 1.5rem;
    color: aliceblue;
    max-width: 20rem;
}

.precio_item {
    font-size: 1.5rem;
    color: aliceblue;
    font-weight: bolder;
}

.boton_item {
    font-size: 1.2rem;
    height: 100%;
    width: 15rem;
    border-radius: 10rem;
    background-color: #FFB750;
}

.container_boton_catalogo {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.boton_catalogo {
    width: 18rem;
    height: 5rem;
    border-radius: 10rem;
    background-color: none;
    border-color: #545188;
    color: #545188;
    margin: 0 0 2rem;
}

.sobre_nosotros {
    height: 500px;
    background-color: var(--color-Dark-Cornflower-Blue);
    background-image: url(../../../../../public/assets/imges/VECTOR_4.png), url(../../../../../public/assets/imges/VECTOR_5.png);
    background-position: bottom left, top right;
    ;
    background-repeat: no-repeat;
    padding-top: 2rem;
}

.quienes_somos {
    margin: 0 0 4rem 0;
    font-size: 28px;
    color: var(--color-Floral-White);
    font-family: "Sour Gummy", sans-serif;
    text-align: center;
}

.descripcion_sobre_nosotros {
    display: flex;
}

.imagen_sobre_nosotros {
    width: 50rem;
    border-radius: 1rem;
}

.descripcion_sobre_nosotros_texto {
    width: 100%;
    color: var(--color-Floral-White);
    font-size: var(--fuente-cuerpo);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10rem;
}

.container_imagen_sobre_nosotros {
    width: 100%;
    display: flex;
    justify-content: center;
}