<form 
    class="form form-login" 
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
>
    <h1>Login</h1>

    <div class="form-content">
        <div class="field">
            <label for="username">Username</label>
            <input type="text" placeholder="Ej: manuela@correo.co" id="username" formControlName="username">
            <div class="error">
                <!-- //Valida el estado del campo actual(username) -->
                @if ( formData.get('username')?.invalid && ( formData.get('username')?.dirty || formData.get('username')?.touched) ) {
                    <!-- //Validar las reglas para el campo -->
                    @if ( formData.get( 'username' )?.errors?.[ 'required' ] ) {
                        <span>El username es obligatorio</span>
                    }
                    @if ( formData.get('username')?.errors?.[ 'email' ] ) {
                        <span>Formato de correo no valido</span>
                    }
                }
            </div>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="password" placeholder="Ej: 123456789" id="password" formControlName="password" >
            <div class="error">
                <!-- //Valida el estado del campo actual(username) -->
                @if ( formData.get('password')?.invalid && ( formData.get('password')?.dirty || formData.get('password')?.touched) ) {
                    <!-- //Valida las reglas para el campo -->
                    @if ( formData.get('password')?.errors?.['required'] ) {
                        <span>El password es obligatorio</span>
                    }
                    @if ( formData.get('password')?.errors?.['minlength'] ) {
                        <span>La contraseña debe tener minimo 6 caracteres</span>
                    }
                    @if ( formData.get('password')?.errors?.['maxlength'] ) {
                        <span>La contraseña debe tener maximo 9 caracteres</span>
                    }
                }
            </div>
        </div>
        <div class="field">
            <button type="submit" [disabled]="formData.invalid">Login</button>
        </div>
    </div>
</form>