<div id="container">
    <div id="panel-left"></div>
    <div id="panel-right">
        <div id="login">
            <img id="logo" src="/assets/imges/Logo.png" alt="">
            <h1>Bienvenido nuevamente</h1>
            <form [formGroup]="loginData" (ngSubmit)="onSubmit()">
                <!-- EMAIL -->
                <input type="email" placeholder="Dirección de correo electrónico" id="email" formControlName="email"
                    required />
                <div class="error"
                    *ngIf="loginData.get('email')?.invalid && (loginData.get('email')?.dirty || loginData.get('email')?.touched)">
                    <span *ngIf="loginData.get('email')?.errors?.['required']">El correo es obligatorio</span>
                    <span *ngIf="loginData.get('email')?.errors?.['email']">Formato de correo no válido</span>
                </div>

                <!-- PASSWORD -->
                <input type="password" placeholder="Contraseña" id="password" formControlName="password" required />
                <div class="error"
                    *ngIf="loginData.get('password')?.invalid && (loginData.get('password')?.dirty || loginData.get('password')?.touched)">
                    <span *ngIf="loginData.get('password')?.errors?.['required']">La contraseña es obligatoria</span>
                    <span *ngIf="loginData.get('password')?.errors?.['minlength']">La contraseña debe tener mínimo 8
                        caracteres</span>
                </div>

                <!-- BOTÓN -->
                <button type="submit" class="btn-form" [disabled]="loginData.invalid">INICIAR SESIÓN</button>
            </form>
            <div id="error_backend" class="error">
                <span *ngIf="errorMessage" class="error-message">{{ errorMessage }}</span>
            </div>
            <p class="form-text">
                ¿No tienes una cuenta?
                <a [routerLink]="['/register']" routerLinkActive="router-link-active">Regístrate</a> 
            </p>
        </div>
    </div>
</div>